@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Customer choice";
}
<h1>Choose customer</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                    <td>
                    <form asp-action="AddCustomerToLoan" asp-route-id="@item.Id">
                        <div class=" btn-group btn-group-sm">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Confirm Customer')">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
